
:root {
    --tempBorder : solid red
  }


.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;

    height: 600px;
    background-color: azure;
    border-radius: 5%;
    margin-bottom: 30px;

}

.namer {
    margin-top: 20px;
    margin-bottom: 15%;
    font-size: large;
    
}

.banner {
    text-align: center;
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 40px;
    padding-bottom: 90px;
}

body {

    display: flex;
    align-items: center;

    flex-direction: column;
    z-index: 1;
    
}

::-webkit-scrollbar {
    width: 0px;
  }

html {
    overflow: auto;
    overflow-x: hidden;
}


/* Hide scrollbar for chrome */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* adds sticky bg */
.background {
    z-index: -1;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(153, 1, 172, 1), rgba(0, 212, 255, 1));
}


.buttonspace{
    
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    
    
     
   

}

#menubutton{
    
    width: 200px;
    height: 200px;
    position: absolute;
    
    top :0px;
    left: 0px;
    opacity: 0;
    /*
    hidden maakes it unclickable opacity 0 enusres clickability
    visibility: hidden;
    */
    
    
}



.menubuttonlabel {
    margin: 10px;
    width: 200px;
    height: 160px;
    position: absolute;
    top :0px;
    left: 0px;
    
    display: block;

   
    cursor: pointer;
    
    transition: all 0.3s;
    border-top : solid red 5px;
    border-bottom: solid red 5px;
    justify-content: center;
}


#menubutton:checked + .menubuttonlabel {
    height: 0px;
    top:80px;
    transform: rotate(45deg);

}

.menubuttonlabel::after{
    /* content olmadan göremezsin */
    content: "";
    height: 5px;
    width: 160px;
    position: absolute;
    display: block;
    background-color: red;
    top: 80px;
    left : 20px;
    transition: all 0.5s;
}


#menubutton:checked + .menubuttonlabel::after{
    transform: rotate(90deg);
    top: 0px;
    left: 0px;
    width: 200px;
    height: 10px;

}





.poly{
    height: 100px;
    width: 100px;
    background-color: green;
  
  
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    /* it gives x y points   (50% 0%): Top vertex of the diamond, 
    positioned at 50% of the width and 0% of the height of the clipping box. */
    transition: all 0.5s;
   
}


.poly:hover{clip-path: polygon(40% 10%, 90% 40%, 70% 70%, 0 50%);
background-color: red;



}


.pyraContain{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    filter: drop-shadow( 6px 4px red);
}


.sky{ height: 250px; width: 300px; background-color: skyblue;}
.sands{height: 50px; width: 300px; background-color: sandybrown}