:root {
  --tempBorder: solid red;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;

  height: 500px;
  background-color: azure;
  border-radius: 5%;
  margin-bottom: 30px;
}

.namer {
  margin-top: 20px;
  margin-bottom: 15%;
  font-size: large;
}

.banner {
  text-align: center;
  font-size: 60px;
  color: white;
  width: 100%;
  padding: 40px;
  padding-bottom: 90px;
}

body {
  display: flex;
  align-items: center;

  flex-direction: column;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

/* Hide scrollbar for chrome */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

p {
  text-align: center;
  margin: 5px;
}

/* adds sticky bg */
.background {
  z-index: -1;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(153, 1, 172, 1), rgba(0, 212, 255, 1));
}
